main {
    background-color: rgba(0,0,0,0.8);
    padding:50px;
}
main .box{
    width:200px; height:200px; /*너비와 높이 200px*/
    font-size:4rem;
    border:5px dotted #fff; /*두께 모양 색상*/
    border-radius:50%; /*테두리 둥글게*/
    text-align:center; /*수평기준으로 글씨 가운데로*/
    line-height:200px;/*수직기준으로 글씨 가운데로*/
    /*line-height값과 height값을 동일하게 작성하면 요소가 수직 중앙
    으로 온다(1행일 경우 가능*/
}
main .a{
    /*padding(안쪽여백)추가 시 실제 크기에 변화를 주지 않는다.*/
    background-color: aqua;
    box-sizing:border-box; /*box 사이즈를 정하는 것*/
    /* padding-right:50 */
    /* width:150px; */
    float:left;
    
}
main .b{
    box-sizing:border-box;
    /* padding-top:30px; */
    /* heigth:170px; */
    clear:both;
    float:left;
    font-size:3rem;
    background-color: blue;
}
main .c{
    /* clear:both; */
    /* float:none; */
    float:left;
    box-sizing:border-box;
    /* width:160px; height:180px */
    /* padding:10px 20px; */
    /*상하(높이) 좌우(너비)*/ /*height 10*2 width 20*2*/
    background-color: blueviolet;
}