header {
    background-color: lightseagreen;
    width: 1200px; height: 92px;
    margin: 0 auto;
}
header h1{
    width: 60px; height: 70px;
    margin: 11px 0 0 20px;
    float:left;
}
header h1 a{}
header h1 a img{
    width: 100%;
} /*liline에게 크기가 들어가지않음*/
header nav{
    background-color: darkkhaki;
    margin:39px 0 0 234px;
    float:left;
}
header nav ul{
    background-color: cadetblue;
}
header nav ul li:last-child a {padding-right: 0;}
header nav ul .active a{
    color: #36B4E5;
}
header nav ul li{
    float:left; /**/
}
header nav ul li a{
    padding-right: 40px;
    font-size: 1.2rem;
    
}

/*lnb*/
header .lnb {
    background-color: aquamarine;
    float:right;
    margin:39px 20px 0 0; /*;은 마지막에만 넣기 안그러면 인식이 안됨*/
}
header .lnb li{
    float:left;
    margin-right:20px;
}
header .lnb li:last-child {margin-right:0;}
header .lnb li a{
    font-size: 1.2rem;
}
header .lnb li span {
    width: 1px; height: 13px;
    background-color: #000;
    display:block;
    margin-top: 8px;
} 